@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fugaz+One&family=Gugi&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Itim&family=Lilita+One&family=Merienda:wght@300..900&family=Playwrite+DE+Grund:wght@100..400&family=Rammetto+One&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fugaz+One&family=Gugi&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Itim&family=Lilita+One&family=Merienda:wght@300..900&family=Playwrite+DE+Grund:wght@100..400&family=Uncial+Antiqua&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Itim", cursive;
    margin: 0;
    padding: 0;
    margin-top: 300px;
    box-sizing: border-box;
    background-color: wheat;
    color: #333;
}

h1 {
    font-family: "Rammetto One", sans-serif;
}

header {
    background-color: #050A44;
    color: wheat;
    text-align: center;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 0 0 15px 15px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.cta-buttons {
    margin-top: 20px;
}
.cta-buttons a {
    text-decoration: none;
    color: white;
    background-color: red; /* Secondary color */
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    font-size: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cta-buttons a:hover {
    background-color: #0A21C0; 
    transform: scale(1.1);
}

.intro {
    text-align: center;
    padding: 20px;
    line-height: 1.6;
    font-size: 2rem;
}

.intro img {
    border-radius: 30%;
    max-width: 400px;
    max-height: 400px;
    margin-top: 20px;
    border: 5px solid  #050A44;
}

.skills {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0.2, 0.6);
    max-width: 800px;
}

.skills h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #050A44;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.skills li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.featured-work {
    background-color: #ffffff;
    padding: 40px 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.featured-work h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #050A44;
}

.featured-work .project {
    margin: 20px 0;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0.2, 0.6);
    transition: transform 0.2s, box-shadow 0.2s;
}

.featured-work .project:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.featured-work .project img {
    max-width: 100%;
    border-radius: 10px;
}

.featured-work .project h3 {
    font-size: 1.5rem;
    margin: 15px 0;
    color: #333;
}

.featured-work .project p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

.featured-work .project a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #050A44;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.featured-work .project a:hover {
    translate: transformY(-5px);
    background-color: #0A21C0;
}


.connect {
    text-align: center;
    background-color: #f4f4f9;
    padding: 40px 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0.2, 0.6);
    max-width: 800px;
}

.connect h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #050A44;
}

.connect p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social-icons a {
    color: #050A44;
    font-size: 2rem;
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: #0a21c0;
    transform: scale(1.2);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #050A44;
    color: wheat;
    margin-top: 20px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}